<nav class="nav flex-column profile-nav">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="#">Settings</a>
    <a class="nav-link" href="#">Deposit</a>
    <a class="nav-link disabled" href="#">Withdrawal</a>
</nav>