<%- include("partials/header") -%>

<div class="card-body p-5 shadow-5 text-center">
    <h1 class="fw-bold mb-5">Forgot Your Password?</h1>
    <form  action="/forgot-password" method="POST">
        <div class="form-outline mb-4">
            <input class="form-control " type="text" placeholder="Email Address">
        </div>
        <button class="btn btn-dark btn-block mb-4 col-12 resetPwBtn">Reset Password</button>
    </form>
</div>


<%- include("partials/footer") -%>