/* ------------------------ Start of Navigation Bar Designs ---------------------- */
.menu {
  background-color: white;
}
.menu:hover {
  opacity: 80%;
}
.navbar-color {
  background-color: black;
  /* opacity: 95%; */
}
.navbar-text {
  color: gold;
}
.navbar-text:hover {
  color: white;
  opacity: 80%;
}
.nav-content {
  padding-left: 85%;

}
.spacer {
  visibility: hidden;
}
@media only screen and (max-width: 1620px) {
  .nav-content {
    padding-left: 80%;
  }
}
@media only screen and (max-width: 1220px) {
  .nav-content {
    padding-left: 70%;
  }
}
@media only screen and (max-width: 991px) {
  .nav-content {
    padding-left: 0;
  }
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* ------------------------  End of Navigation Bar Designs ------------------------ */

.login, .register {
  background-color: #dfe4ea;
}
.login-links {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
.login-links:hover{
  color:gold;
}
.login-button, .register-button {
  color: gold;
}
.login-button:hover, .register-button:hover{
  color:gold;
}
.resetPwBtn {
  color: gold;
}
@media only screen and (max-width: 1199px) {
  .login-links{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.footer {
  text-align: center;
  padding-bottom: 10px;
}
