<div class="aboutHome-container">
  <!-- <img src="../images/bank.jpg" class="aboutHome-img" alt="bank"> -->
    <img src="../images/gold.jpg" class="aboutHome-img" alt="gold image">
    <div class="aboutHome-innerContainer">
      <form class="" action="/login" method="get">
        <h1 class="aboutHome-text">Do you have a Great Credit Report?</h1>
        <button type="submit" class="btn btn-dark btn-md aboutHome-button" name="button">Check your Report</button>
      </form>
    </div>


</div>
