<div class="container-fluid depositHome-container">
    <div class="row">
        <div class="col-lg-6 col-md-4 depositHome-image">
            <img src="../images/deposit_logo.png" alt="deposit logo image">
        </div>
        <div class="col-lg-6 col-md-4 depositHome-text">
            <a class="btn btn-lg btn-dark depositHome-button" href="/login">Make a Deposit</a>
        </div>
    </div>
</div>
