<div class="introHome-container">
  <!-- <img src="../images/bank.jpg" class="aboutHome-img" alt="bank"> -->

  <div class="introHome-innerContainer">
    <img src="../images/gold.jpg" class="introHome-img" alt="gold image">
    <div class="introHome-textContainer">
      <h1 class="introHome-text">RA</h1>
      <h1 class="introHome-text">Where Gold Mines are Made!</h1>
    </div>
  </div>

</div>
