<div class="container-fluid withdrawalHome-container">
    <div class="row">
        <div class="col-lg-6 col-md-4 withdrawalHome-text">
            <a class="btn btn-lg btn-dark withdrawal-button" href="/login">Make a Withdrawal</a>
        </div>
        <div class="col-lg-6 col-md-4 withdrawalHome-image">
            <img src="../images/withdrawal.jpeg" alt="withdrawal logo image">
        </div>
    </div>
</div>